<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> <!--import bootstrap-->
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
        <div class="row">
            <vc:navigation-menu /> <!--this the view componenet found in the components page. It's kinda like a partial view, except not really. To tell the truth, I don't know the difference besides that this has ViewComponent at the end of its name-->

        </div>
    <div class="container">

        <main role="main" class="pb-3">


            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>